$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;

/* ====================== [ Start Responsive ] ====================== */

@media screen and (max-width: $desk-lg-screen) {}

@media screen and (max-width: $desk-md-screen) {

    .md-mb10 {
        margin-bottom: 10px;
    }

    .md-mb15 {
        margin-bottom: 15px;
    }

    .md-mb20 {
        margin-bottom: 20px;
    }

    .md-mb30 {
        margin-bottom: 30px;
    }

    .md-mb40 {
        margin-bottom: 40px;
    }

    .md-mb50 {
        margin-bottom: 50px !important;
    }

    .md-mb80 {
        margin-bottom: 80px;
    }

    .md-no-mrg {
        margin: 0 !important;
    }

    .md-pb10 {
        padding-bottom: 10px;
    }

    .md-pb20 {
        padding-bottom: 20px;
    }

    .md-pb30 {
        padding-bottom: 30px;
    }

    .md-pb40 {
        padding-bottom: 40px;
    }

    .md-pb50 {
        padding-bottom: 50px;
    }

    .md-pb60 {
        padding-bottom: 60px;
    }

    .md-pb70 {
        padding-bottom: 70px;
    }

    .md-pb80 {
        padding-bottom: 80px;
    }

    .md-pt80 {
        padding-top: 80px !important;
    }

    .md-no-pad {
        padding: 0 !important;
    }

    .md-center {
        text-align: center !important;
    }

    .md-order-1 {
        order: 1 !important;
    }

    .md-order-2 {
        order: 2 !important;
    }

    .md-order-3 {
        order: 3 !important;
    }

    .md-order-4 {
        order: 4 !important;
    }

    .md-hide {
        display: none;
    }

    .justify-end {
        justify-content: flex-start !important;

        .vew-all {
            margin-left: 25px;
            margin-top: 25px;
        }

        .swiper-controls {
            margin-top: 30px;
        }

        .ml-auto {
            margin-left: 0;
            margin-top: 30px;
        }
    }

    .row {

        &.sm-marg {
            margin-left: -15px;
            margin-right: -15px;

            >* {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &.stand-marg {
            margin-left: -15px;
            margin-right: -15px;

            >* {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &.md-marg {
            margin-left: -15px;
            margin-right: -15px;

            >* {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &.lg-marg {
            margin-left: -15px;
            margin-right: -15px;

            >* {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &.xlg-marg {
            margin-left: -15px;
            margin-right: -15px;

            >* {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &.xxlg-marg {
            margin-left: -15px;
            margin-right: -15px;

            >* {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 23px;
    }

    h6 {
        font-size: 20px;
    }

    .fz-120 {
        font-size: 90px !important;
    }

    .fz-80 {
        font-size: 60px !important;
    }

    .fz-70 {
        font-size: 50px !important;
    }

    // menu

    .navbar .logo:after {
        display: none;
    }

    .navbar .contact-button {
        display: none;
    }

    .navbar .mega-menu .item-img .img {
        display: none;
    }

    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;

        .navbar-collapse {
            max-height: 440px;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &.nav-scroll {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .container {
            padding: 0;
            width: 100%;
            max-width: 100%;
        }

        .mega-menu .container {
            padding: 20px 10px !important;
        }

        .logo {
            max-width: 80px !important;
            margin-left: 30px;
        }

        .navbar-collapse {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            margin-top: 15px;
        }

        .navbar-toggler {
            font-size: 20px;
            border-radius: 0;
            padding: 0;
            margin-right: 30px;

            &:focus {
                box-shadow: none;
                border: 0;
                outline: none;
            }
        }

        .dropdown-menu {
            display: none;

            &.show {
                display: block;
                position: static;
            }
        }

        .dropdown-menu .dropdown-item .dropdown-side {
            display: none;
            position: static;
            width: 100%;
            margin-top: 15px;

            &.show {
                display: block;
            }
        }

        .navbar-nav {

            .nav-link {
                padding: 15px 30px 10px;
                margin: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            .nav-item {

                &:last-of-type {

                    .nav-link {
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }

            .mega-menu {
                width: auto;
                position: static;
                padding: 0;

                .item-img {
                    font-size: 14px;
                    color: #fff;
                    transition: all .4s;
                    padding: 10px 25px;
                    position: relative;

                    .mt-15 {
                        margin-top: 0 !important;
                    }

                    &:after {
                        content: '';
                        width: 0px;
                        height: 1px;
                        background: #fff;
                        position: absolute;
                        left: 10px;
                        top: 18px;
                        transition: all .4s;
                    }

                    &:hover {
                        padding-left: 30px;
                        background: transparent;

                        &:after {
                            width: 10px;
                        }
                    }
                }
            }
        }
    }

    .blur-div {
        display: none;
    }

    .intro-style1 {
        display: none;
    }

    .hero-style2 {

        .fs-80 {
            font-size: 60px !important;
        }
    }

    .cards-wrapper {
        height: auto !important;
    }

    .hero-style1 {
        padding-bottom: 0;
    }

    .hero-style4 {
        padding: 160px 0 0;

        .fs-20 {
            font-size: 16px !important;
        }

        h1 {
            letter-spacing: normal;
        }
    }

    .hero-style5 .links a {
        font-size: 40px;
    }

    .hero-style5 .caption h1 {
        font-size: 8.8vw;
    }

    .hero-style3 .container:after,
    .hero-style3 .container:before,
    .hero-style3 .box1:after,
    .hero-style3 .box1:before,
    .hero-style3 .box2:after,
    .hero-style3 .box2:before,
    .hero-style3 .box3:after,
    .hero-style3 .box3:before,
    .hero-style3 .box4:after,
    .hero-style3 .box4:before,
    .hero-style3 .box4{
        display: none !important;
    }

    .hero-style3 .lg-text .img1,
    .hero-style3 .lg-text .img2,
    .hero-style3 .lg-text .img3{
        width: 100px;
        height: 150px;
    }

    .portfolio-elegant .work-boxs,
    .portfolio-crev .work-boxs {
        display: block !important;
    }

    .portfolio-elegant .item,
    .portfolio-elegant .item.active,
    .portfolio-crev .item,
    .portfolio-crev .item.active  {
        width: 100%;
        height: 400px;
        min-height: 400px;
        margin-bottom: 15px;
    }

    .portfolio-elegant .item,
    .portfolio-elegant .item.active{
        height: auto;
        min-height: auto;
        margin: 0 0 50px !important;

        .bg-img{
            height: 400px;
        }
    }

    .team-mp .item {

        .img {
            width: 280px;
        }

        h2 {
            font-size: 30px;
            line-height: 1.2;
        }
    }

    .team-style2 {
        padding: 120px 0 !important;

        .gallery-wrap {
            display: none !important;
        }
    }

    .team-style3 .item.mt-mins {
        margin-top: 40px !important;
    }

    .sec-head-crev {

        .fs-75 {
            font-size: 50px !important;
        }
    }

    .serv-style1 .item ul li {
        display: inline-block;
        margin: 10px !important;
    }

    .serv-style4 {
        border-bottom: 0;

        .item {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    .testim-style3 .swiper-controls {
        top: auto;
        bottom: -30px;
        transform: none;
    }

    .showcase-full .parallax-slider-full .caption h1{
        font-size: 80px;
    }

    .parallax-slider-wrapper .parallax-slider-inner{
        left: 40px;
    }

    .slider .parallax-slider-full .swiper-slide .bg-img{
        background-position: center center !important;
    }

    .inter-links-center .links-text li h2{
        font-size: 64px;
    }

    .pg-hero .fs-100{
        font-size: 80px !important;
    }

    footer{

        .social-icon-circle,
        .item{
            margin-bottom: 50px;
        }
    }

    .footer-style1 .lg-text h2{
        margin-bottom: 0;
    }

    .footer-style1 .links a{
        margin-right: 15px;
    }

    .footer-style1{

        .justify-content-end{
            justify-content: flex-start !important;
            margin-top: 30px;
        }
    }

}


@media screen and (max-width: $tablet-sm-screen) {

    .sm-mb10 {
        margin-bottom: 10px;
    }

    .sm-mb20 {
        margin-bottom: 20px;
    }

    .sm-mb30 {
        margin-bottom: 30px;
    }

    .sm-mb40 {
        margin-bottom: 40px;
    }

    .sm-mb50 {
        margin-bottom: 50px;
    }

    .sm-mb80 {
        margin-bottom: 80px;
    }

    .sm-pb10 {
        padding-bottom: 10px;
    }

    .sm-pb20 {
        padding-bottom: 20px;
    }

    .sm-pb30 {
        padding-bottom: 30px;
    }

    .sm-pb40 {
        padding-bottom: 40px;
    }

    .sm-pb50 {
        padding-bottom: 50px;
    }

    .sm-pb60 {
        padding-bottom: 60px;
    }

    .sm-pb70 {
        padding-bottom: 70px;
    }

    .sm-pb80 {
        padding-bottom: 80px;
    }

    .sm-hide {
        display: none;
    }

    .fz-70 {
        font-size: 40px !important;
    }

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .progress-wrap {
        display: block;
    }

    .loader-wrap .loader-wrap-heading .load-text {
        font-size: 20px;
    }

    .hamenu .logo {
        left: 25px;
    }

    .hamenu .close-menu {
        top: 25px;
        right: 25px;
    }

    .hamenu .menu-links .main-menu>li .link {
        font-size: 30px;
    }

    .hamenu .menu-links .main-menu>li .sub-dmenu {
        font-size: 24px;
    }

    .hamenu .menu-links .main-menu .sub-menu li,
    .hamenu .menu-links .main-menu .sub-menu2 li {
        font-size: 20px;
    }

    .hero-style2 {

        .fs-80 {
            font-size: 35px !important;
        }
    }

    .hero-style1 {

        .fs-80 {
            font-size: 45px !important;
        }
    }

    .hero-style3{
        padding-bottom: 80px;

        .p-40px{
            padding: 30px 20px !important;
        }
    }

    .hero-style3 h1{
        font-size: 50px;
    }

    .hero-style3 .box3{
        display: block !important;
    }

    .hero-style3 .exp{
        margin: 0;
        width: max-content;

        h2{
            font-size: 220px;
        }
    }

    .hero-style6{

        .fs-90{
            font-size: 50px !important;
        }
    }

    .sec-head-crev {

        .fs-75 {
            font-size: 30px !important;
        }
    }

    .sec-head-modern {

        .fs-60 {
            font-size: 40px !important;
        }
    }

    .sec-head-crev {

        .fs-75 {
            font-size: 50px !important;
        }

        .fs-65 {
            font-size: 40px !important;
        }
    }

    .sec-head-stand {

        .fs-65 {
            font-size: 40px !important;
        }

        .fs-50 {
            font-size: 34px !important;
        }
    }

    .img-bord-color {

        .h-600px {
            height: 400px;
        }
    }

    .work-style2 {
        padding-top: 120px !important;
    }

    .intro-style6 .h-600px,
    .work-style3 .item .fit-img{
        height: 400px !important;
    }

    .box-lyars {
        padding: 100px 20px;
    }

    .testimonials-ds .qoute-icon .text {
        width: 160px;
    }

    .testim-style1{

        .info-text{
            display: block !important;
        }
    }

    .intro-style2,
    .intro-style3 {

        .fs-60 {
            font-size: 34px !important;
        }
    }

    .team-mp .item {
        padding: 30px;

        .d-flex {
            display: block !important;
        }

        .img {
            width: auto;
            height: auto;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            overflow: hidden;
        }

        .cont {
            padding: 30px 0 0;
            text-align: center;
        }

        .ml-auto {
            width: max-content;
            margin: auto !important;
        }

        .social-icon {
            padding: 0;
            margin-top: 30px;
        }
    }

    .testim-style2 .swiper-slide {
        transform: rotate(0) !important;
    }

    .testim-style3 .testim-swiper {
        padding: 0;
    }

    .testim-style3 .swiper-slide {
        padding: 50px 30px;
    }

    .award-style1 {

        .d-flex {
            display: block !important;
        }
    }

    .marq-brand .item-marq a{
        width: 200px;
        height: 130px;
        line-height: 130px;
    }

    .skills{

        .item{

            align-items: center !important;
        }
    }

    .bg-img.h-600px{
        height: 480px;
    }

    footer {

        .call-action-style2 .butn-call {
            width: 100px;
            height: 100px;
            line-height: 100px;

            img {
                width: 30px !important;
            }
        }

        .mt-80px {
            text-align: center;
            margin-top: 30px !important;

            p {
                margin-bottom: 15px;
            }
        }
    }

    .showcase-full .parallax-slider-full .caption h1{
        font-size: 45px;
    }

    .showcase-full .dots{
        display: none;
    }

    .parallax-slider-wrapper .parallax-slider-inner{
        left: 20px;
    }

    .inter-links-center .links-text li h2{
        font-size: 30px;
    }

    .pg-hero .fs-100{
        font-size: 50px !important;
    }

    .blog-header{

        .fz-55{
            font-size: 30px !important;
        }
            
        .info{
            display: block !important;
        }

        .date{
            margin-left: 30px !important;
        }

        .right-info{
            margin: 30px 0 0;
        }
    }

    .main-post{

        .fz-60{
            display: none;
        }

        .post-qoute{
            padding: 30px 15px;

            h6{

                &:before{
                    position: relative;
                    left: 0;
                }
            }
        }

        .info-area{
            display: block !important;

            .tags{
                margin-bottom: 30px;
            }
        }

        .author-area{

            .flex{
                display: block;
            }

            .author-img{
                margin: 0 0 30px 0;

                .img{
                    width: 80px;
                    height: 80px;
                }
            }
        }

        .next-prv-post{
            display: block;

            .thumb-post{
                margin: 0 !important;
            }

            .text-right{
                text-align: left;
                margin-top: 30px !important;
            }
        }
    }

    .comments-post .item-box{

        .flex{
            display: block;
        }

        .user-img{
            margin: 0 0 15px 0;
        }

        .replay-post{
            margin: 15px 0 0 0;
        }

        &.replayed{
            margin-left: 0;
        }
    }

    .main-post .post-qoute h6:before{
        top: 70px;
    }

    .pg-project{

        .fs-60{
            font-size: 28px !important;
        }
    }

}

@media screen and (max-width: $mobile-xs-screen) {}

/* ====================== [ End Responsive ] ====================== */