/* ===================================
    Buttons
====================================== */

.butn{
    transition: all .4s;

    &.butn-md{
        padding: 15px 35px;
    }

    &.butn-lg{
        padding: 18px 40px;
    }

    &.butn-full{
        padding: 14px 30px;
        width: 100%;
        text-align: center;
    }

    &.bg-light{
        background: #fff;
        border: 1px solid transparent;
        color: #000;

        &:hover{
            background: transparent !important;
            border-color: rgba(255,255,255,.5);
            color: inherit;
        }
    }

    &.butn-line-light{
        padding: 0 0 10px;
        border-bottom: 1px solid #fff;
        width: 100%;
    }

    &.butn-line-dark{
        padding: 0 0 10px;
        border-bottom: 1px solid #666;
        width: 100%;

        img{
            filter: invert(1);
        }
    }

    &.butn-line{
        padding: 0 0 10px;
        border-bottom: 1px solid #000;
        width: 100%;
    }

    &.butn-circle-md{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        line-height: 70px;
        text-align: center;

        img{
            width: 20px;
        }
    }

    &.bord-light{
        border: 1px solid #fff;
    }

    &.bord-gray{
        border: 1px solid #999 !important;
    }

    &.hover-light{

        &:hover{
            background: #fff;
            border-color: #fff;
            color: #1d1d1d;
        }
    }

    &.hover-light2{

        &:hover{
            background: #eee;
            border-color: #eee;
            color: #1d1d1d;
        }
    }

    &.hover-dark{

        &:hover{
            background: #1d1d1d;
            border-color: #1d1d1d;
            color: #fff;
        }
    }

    &.butn-blur{
        color: #fff;
        background: rgba(0,0,0,.03);
        backdrop-filter: blur(10px);
        padding: 10px 15px;
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 30px;
        transition: all .4s;

        &:hover{
            background: #fff;
            color: #1d1d1d;
            
            span{
                color: #1d1d1d;
            }

            img{
                filter: invert(1);
            }
        }
    }

    &.bord-icon{
        border: 1px solid rgba(0,0,0,.1);
        padding: 7px 10px 7px 20px;
        border-radius: 30px;

        .icon{
            padding: 8px 10px;
            border-radius: 5px;
            background: rgba(0,0,0,.03);
            margin-left: 10px;
        }

        &.light-bord{
            border-color: rgba(255,255,255,.1);

            .icon{
                background: rgba(255,255,255,.05);
            }
        }
    }

    &.butn-cirle-lg-icon{

        > div{
            display: inline-block;
            width: 160px;
            height: 160px;
            line-height: 170px;
            text-align: center;
            border: 1px solid #1d1d1d;
            border-radius: 50%;
            margin: 0 -10px;
            font-size: 22px;
            text-transform: uppercase;
            transition: all .4s;

            span{
                line-height: 1.2;
            }

            &:last-of-type{
                background: #1d1d1d;
            }
        }

        &:hover{
            
            > div{
                transform: translateX(100%);
                margin: 0 10px;

                &:last-of-type{
                    transform: translateX(-100%);
                }
            }
        }
    }

    &.butn-arrow{
        padding: 10px 20px;
        background: #1d1d1d;
        border-radius: 30px;
        color: #fff;
        
        span{
            margin: 0 3px;
        }

        img{
            width: 15px;
        }

        &.bord{
            background: transparent;
            border: 1px solid rgba(0,0,0,.5);
            color: inherit;
        }
    }

    &.standerd{
        padding: 14px 30px;
    }
}

.butn-arrow{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 50%;

    &:hover{
        background: #fff;
        color: #000;

        img{
            filter: invert(1);
        }
    }
}

.circle-button {
    position: relative;
    display: inline-block;

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    svg {
        width: 250px;
        fill: inherit;
    }
}

.butn-circle{
    width: 180px;
    height: 180px;
    border: 1px solid #141414;
    border-radius: 50%;
    transition: all .4s;

    &.butn-dark{
        color: #fff;
        background: #141414;
    }

    &.butn-light{
        color: #fff;
        border-color: rgba(255,255,255,.2);

        &:hover{
            background: #fff;
            color: #141414;

            .text{
                color: #141414;
            }
    
            svg{
    
                path{
                    stroke: #141414;
                }
            }
        }
    }

    svg{

        path{
            transition: all .4s;
        }
    }

    &:hover{
        background: #141414;
        color: #fff;

        svg{

            path{
                stroke: #fff;
            }
        }

        .text-dark{
            color: #fff !important;
        }
    }
}

.more-arrow{
    overflow: hidden;

    span{
        text-indent: -110px;
        transition: all .4s;
    }

    &:hover{

        span{
            text-indent: 0;
        }
    }
}

.butn-bord-space{
    height: 45px;
    width: 120px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 40px;
    position: relative;

    span{
        position: absolute;
        height: 45px;
        width: 45px;
        line-height: 40px;
        text-align: center;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 50%;
        top: 0;
        right: 0;
        transition: all .4s;
    }

    &:hover{

        span{
            right: calc(100% - 45px);
        }
    }
}

.butn-arrow-circle{
    padding: 4px 4px 4px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;

    .icon{
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.05);
        color: #000000;
        margin-left: 20px;
    }
}

.butn-icon-circle{

    span{
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        background: #000;
    }

    &.icon-light{

        span{
            background: #fff;
        }
    }
}

.view-all{
    text-decoration: underline;
}