

/* Preloader
-----------------------------------------------------------------*/

body{
    
    &.loaded{
        overflow: hidden !important;
        height: 100% !important;
    }
}

.loader-wrap {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: transparent;
  z-index: 99999999999999;
}
.loader-wrap svg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
  fill: #1d1d1d;
}

.loader-wrap .loader-wrap-heading .load-text {
  color: #fff;
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
    z-index: 20;
}

.load-text span {
	animation: loading 1s infinite alternate;
}
.load-text span:nth-child(1) {
	animation-delay: 0s;
}
.load-text span:nth-child(2) {
	animation-delay: 0.1s;
}
.load-text span:nth-child(3) {
	animation-delay: 0.2s;
}
.load-text span:nth-child(4) {
	animation-delay: 0.3s;
}
.load-text span:nth-child(5) {
	animation-delay: 0.4s;
}
.load-text span:nth-child(6) {
	animation-delay: 0.5s;
}
.load-text span:nth-child(7) {
	animation-delay: 0.6s;
}

.loader-hero {
    background-image: url('../../assetsgda/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
}

.loader-hero__wordmark {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

@media (max-width: 991.98px) {
    .loader-hero__wordmark {
        font-size: 4.5rem;
    }
}

@media (max-width: 575.98px) {
    .loader-hero {
        padding: 0 20px;
    }

    .loader-hero__wordmark {
        font-size: 3rem;
        letter-spacing: 0.05em;
    }
}
  
@keyframes loading {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}