
/* Titles
-----------------------------------------------------------------*/

.sec-head{
    padding-bottom: 60px;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        border-left: 1px solid #000;
        height: 40px;
        opacity: .3;
    }
}

.sm-title-dot{
    position: relative;

    &:before{
        content: '';
        position: relative;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #000;
        display: inline-block;
        margin-right: 20px;
    }
}

.sm-title-numb{
    color: #888;
    font-weight: 300;

    span{
        position: relative;
        padding-right: 60px;

        &:after{
            content: '';
            width: 20px;
            border-bottom: 1px solid #888;
            position: absolute;
            left: 30px;
            top: 50%;
        }
    }
}

.sec-head-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);

    span{
        padding: 14px 30px;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 30px;
        background: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 3;
    }
}