/* Awards
-----------------------------------------------------------------*/

.award-style1{

    .item{
        padding: 30px 0;
        border-top: 1px solid rgba(0,0,0,.05);
        transition: all .4s;

        &:last-of-type{
            border-bottom: 1px solid rgba(0,0,0,.05);
        }

        &:hover{
            padding: 30px;
            background: rgba(0,0,0,.05);
        }
    }
}

.thecontainer {
	width: 300%;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}

.panel {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}