
/* Clients
-----------------------------------------------------------------*/

.clients-ds{

    .item{
        position: relative;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 80px;
        height: 100%;
        padding: 50px 30px;

        .text-center{
            width: 100%;
        }

        .img{
            max-width: 100px;
            margin: auto;
            opacity: .5;
        }

        p{
            margin-top: 30px;
        }

        &:hover{

            .img{
                opacity: 1;
            }
        }
    }
}

.marq-brand{
    
    .item-marq{
        padding: 0;
        text-align: center;

        a{
            width: 320px;
            height: 180px;
            line-height: 180px;
            background: rgba(0,0,0,.05);
            border: 1px solid transparent;
            border-radius: 10px;
            margin: 5px;
            transition: all .4s;

            img{
                vertical-align: middle;
                width: 120px;
                opacity: .5;
                transition: all .5s;
            }

            &:hover{
                background: transparent;
                border-color: rgba(0,0,0,.1);

                img{
                    opacity: 1;
                }
            }
        }
    }

    .item{
        padding: 0 50px !important;
        display: flex;
        align-items: center;
    }

    a{
        width: 100px;

        &:hover{

            img{
                opacity: 1;
            }
        }

        img{
            vertical-align: middle;
            opacity: .5;
            transition: all .5s;
        }
    }
}