
/* Contact
-----------------------------------------------------------------*/

.contact{

    input,
    textarea{
        width: 100%;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        background: transparent;
        color: #000000;
        padding: 15px 0;
        transition: all .4s;

        &:focus{
            border-color: #000000;
        }
    }

    textarea{
        min-height: 300px;
    }

    button{
        border-radius: 30px;
        border: 0;
        transition: all .4s;

        &:hover{
            background: #FF6A3A;
            color: #fff;
        }
    }

    .info-box{
        padding: 80px 40px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        position: relative;
        overflow: hidden;

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../imgs/map.png);
            background-size: cover;
            opacity: .3;
            z-index: -1;
        }

        .phone{
            color: #FF6A3A;
        }
    }

    .form2{

        input,
        textarea{
            padding: 15px 30px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            border-radius: 30px;
        }
    }
}

.google-map{
    height: 450px;
    width: 100%;
    position: relative;
    filter: grayscale(100%);

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}