
/* Pricing
-----------------------------------------------------------------*/

.price-style1{

    .item{
        padding: 40px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        .info{
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            span{
                opacity: .7;
            }
        }

        ul{
            padding: 0;
        }

        li{
            position: relative;
            margin: 15px 0;
            padding-left: 30px;

            &:before{
                content: '';
                position: absolute;
                top: 40%;
                left: 0;
                width: 5px;
                height: 5px;
                background: #fff;
                border-radius: 50%;
            }
        }
    }

    .butn{
        background: #000000;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: #ffffff;
        transition: all .4s;

        &.active{
            background: #FF6A3A;
            color: #fff;
        }

        &:hover{
            background: transparent;
            color: #000000;
        }
    }
}